/* Common styles */
html{
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  color: white;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.flex-center, .flex-column, .flex-between{
  display: flex;
}
.flex-center{
  align-items: center;
}
.flex-column{
  flex-direction: column;
}
.flex-between{
  justify-content: space-between;
}
/* Header */
header.main{
  background-color: black;
  text-transform: uppercase;
  font-size: 1rem;
}
header.main span{
  margin: 0.66rem 0;
}
header.main img{
  margin-left: 0.5rem;
  margin-right: 1rem;
  height: 1.5rem;
}

/*Main banner */
header.main-banner{
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.banner-caption{
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
}
.banner-caption p{
  font-size: 1rem;
  margin-bottom: 0.25rem;
}
.banner-caption h1{
  font-size: 2rem;
}

/* Navigation bar */
nav{
  background-color: firebrick;
}
nav ul{
  list-style: none;
}
nav ul li, nav span{
  margin: 0.75rem 0;
}
nav ul li{
  display: inline-block;
}
nav a{
  text-decoration: none;
  color: white;
}
nav span{
  display: none;
}

/* Product grid*/
.product-grid{
  margin-top: 3rem;
}
.product-grid article{
  width: 30%;
}
.product-image{
  border: 4px solid black;
  height: 9rem;
  justify-content: center;
  padding: 2rem 0;
}
.product-image img{
  max-width: 8rem;
}
.product-grid article h2{
  background-color: black;
  text-align: center;
  width: 100%;
  padding: 0.5em 0;
  margin-bottom: 3rem;
}
/* Location & Hours */
.locationHours section{
  width: 35%;
  margin-bottom: 4rem;
}
.locationHours section h3{
  background-color: black;
  padding: 1rem 2rem;
}
.locationHours section p{
  color: black;
  margin-top: 0.15rem;
}
/* Footer */
footer{
  height: 5rem;
  background-color: black;
}
footer p{
  width: 960px;
  text-align: left;
}


/* <1024px Displays */
@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
  }
  /* Navigation bar*/
  nav ul li{
    display: none;
  }
  nav span{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* Product grid */
  .product-grid article{
    width: 47%;
  }
  .product-grid{
    flex-wrap: wrap;
  }
  /* Footer */
  footer p{
    width: auto;
  }
}
/* <470px Displays */
@media only screen and (max-width: 470px){
  .container{
    width: 90%;
  }
  /* Main banner */
  .main-banner{
    height: 15rem;
  }
  .main-banner .container{
    width: 100%;
    padding-top: 10rem;
  }
  .banner-caption{
    padding: 1rem 2rem;
  }
  .banner-caption p{
    font-size: 0.77rem;
  }
  .banner-caption h1{
    font-size: 1rem;
  }

  /* Product grid */
  .product-grid article{
    width: 100%;
  }

  /* Locations & Hours */
  .locationHours{
    flex-direction: column;
  }
  .locationHours section{
    width: 100%;
  }

  /* Footer */
  footer p{
    text-align: center;
  }
}
